		.box{
			width: 100px;
			height: 100px;
			background: red;
			/*transition: property time*/
			/*transition-property: width,height,background;
			transition-duration: 5s;*/
			/*transition-delay:1s;*/
			/*https://cubic-bezier.com/*/
			/*transition-timing-function:cubic-bezier(.17,.67,.91,.08);*/
			transition:all 5s ease-in-out 1s;
		}
		
		.box:hover{
			width: 500px;
			height: 200px;
			background: yellow;
		}